/* border-box hack*/

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}





html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}

/*picture frame technique to resize images */
.thumbnail-item {
     /* controls the size of the image */ 
    width: 120px;
    height: 120px;

}

.thumbnail-item > img {
    /* the image adapts to its parents */
    /* choose either the height or width, not both */
    width: 100%;

}


.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
}


}